* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", "Noto Sans";
    background: url("../../assets/lms-hero.jpg");
    background-size: cover;
    backdrop-filter: saturate(50%);
    color: #f3f3f3;
}

a {
    color: #f3f3f3;
    font-size: 16px;
    cursor: pointer;
}

h1 {
    font-size: 26px;
    font-weight: 700;
    margin: 10px auto;
}

p {
    font-size: 16px;
    font-weight: 300;
    margin: 10px auto;
    text-align: justify;
}

label {
    display: block;
    margin: 0 auto;
    text-align: left;
    font-size: 20px;
    width: 80%;
    height: 80px;
    margin-bottom: 15px;
    line-height: 2;
}

.input-field input,
select {
    height: 30px;
    width: 100%;
    border: 2px solid #c0a756;
}

.input-field-area {
    margin-bottom: 60px;
    height: 100px;
}

.input-field-area textarea {
    height: 100px;
    width: 100%;
    margin-bottom: 15px;
    border: 2px solid #c0a756;
}

.input-field input[type='file'] {
    border: none;
}

.reacticons {
    height: 25px;
    width: 25px;
    color: yellow;
    background-color: transparent;
}

@media screen and (min-width:300px) and (max-width:700px) and (min-height:700px) {}

@media screen and (min-width:700px) and (max-width:1024px) {
    h1 {
        font-size: 34px;
        margin: 20px auto;
    }

    p {
        font-size: 20px;
        margin: 20px auto;
    }

    a {
        font-size: 20px;
    }

    label {
        width: 60%;
        height: 100px;
        font-size: 24px;
    }

    .input-field input,
    select {
        height: 40px;
        font-size: 20px;
    }

    .input-field-area textarea {
        height: 100px;
        font-size: 20px;
    }
}

@media screen and (min-width:700px) and (max-height:800px) {
    h1 {
        font-size: 36px;
    }

    p,
    a {
        font-size: 24px;
    }

    label {
        display: block;
        margin: 0 auto;
        text-align: left;
        font-size: 20px;
        width: 100%;
        height: 50px;
        margin-bottom: 40px;
        line-height: 2;
    }

    .input-field input,
    select {
        height: 30px;
        width: 100%;
        border: 2px solid #c0a756;
        font-size: 20px;
    }


    .input-field-area textarea {
        height: 100px;
        font-size: 20px;
    }

}

@media screen and (min-width:1025px) and (min-height:801px) {
    h1 {
        font-size: 40px;
        margin: 3px auto;
    }

    p {
        font-size: 26px;
        margin: 30px auto;
    }

    a {
        font-size: 26px;
    }
}